/* Original CSS */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.center {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/Blurry-Background.jpg");
}

#login, #signup {
    width: 650px;
    height: 650px;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border: 2px solid white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.input-field {
    width: 500px;
    height: 60px;
    border: 2px solid #6E6A69;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 16px;
}

.input-field:focus {
    font-size: 18px;
}

.submit-button {
    width: 227px;
    height: 65px;
    background: #504DC1;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.submit-button:hover {
    background: #423E9F;
}

.center h2 {
    margin-top: 150px;
    color: white;
}

.part label {
    padding-bottom: 10px;
}

.part {
    display: flex;
    flex-direction: column;
}

/* Media query for smaller screens */
@media (max-width: 430px) {
    #login, #signup {
        width: 80%; /* Adjusted width to fit smaller screens */
        height: auto; /* Let content determine height */
        padding: 15px;
    }

    .input-field {
        width: 300px; /* Adjusted width to fit smaller screens */
        max-width: none; /* Removed max-width */
        font-size: 14px;
    }

    .submit-button {
        width: 50%; /* Adjusted width to fit smaller screens */
        height: 50px;
        max-width: none; /* Removed max-width */
        font-size: 14px;
        margin-top: 60px;
    }
}